@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --physics-canvas-bg: #27272a;
  --physics-ball: #ef4444;
  --zoom-indicator-bg: #3f3f46;
  --zoom-indicator-bar: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-physics-canvas-bg: var(--physics-canvas-bg);
  --color-physics-ball: var(--physics-ball);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --physics-canvas-bg: #27272a;
    --physics-ball: #ef4444;
    --zoom-indicator-bg: #3f3f46;
    --zoom-indicator-bar: #a1a1aa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}